<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Registration Display-->
<form action="/account/register" method="post">
    <label class="lbl-properties">First name:
       <input type="text" id="fname" name="account_firstname" required value="<%= locals.account_firstname %>"> 
    </label>
    <label class="lbl-properties">Last name:
        <input type="text" id="lname" name="account_lastname" required value="<%= locals.account_lastname %>">
    </label>
    <label class="lbl-properties">Email address:
        <input type="email" id="email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">
    </label>
    <label class="lbl-properties">Password:
        <!-- <div><i>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</i></div> -->
        <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        <!-- <span id="pswdBtn">Show Password</span> -->
    </label>
    <div><i>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</i></div>
    <span id="pswdBtn">Show Password</span>

    <div class="form-row">
        <!-- <button type="submit" class="btn-submit" id="btn-submit">Register</button> -->
        <input type="submit" name="submit" id="regbtn" class="btn-submit" value="Register">
        <!-- <input type="hidden" name="action" value="register"> -->
    </div>
</form>
<script src="../../js/script.js"></script>