<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<% const d = new Date() %>
<% let year = d.getFullYear() %>

<!-- Edit Vehicle Display -->
<form id="updateForm" action="/inv/update" method="post">
    <p class="required">All Fields are Required</p>

    <label class="lbl-properties">Classification:
        <%- selectList %>
    </label>

    <label class="lbl-properties">Make:
        <input type="text" id="inv_make" name="inv_make" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_make %>">
    </label>
    <label class="lbl-properties">Model:
        <input type="text" id="inv_model" name="inv_model" minlength="2" placeholder="Min of 2 characters" required value="<%= locals.inv_model %>">
    </label>
    <label class="lbl-properties">Description:
        <textarea name="inv_description" id="inv_description" required><%= locals.inv_description %></textarea>
    </label>
    <label class="lbl-properties">Image Path:
        <input type="text" id="inv_image" name="inv_image" value="<%= locals.inv_image %>" required>
    </label>
    <label class="lbl-properties">Thumbnail Path:
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%= locals.inv_thumbnail%>" required>
    </label>
    <label class="lbl-properties">Price:
        <input type="number" id="inv_price" name="inv_price" step="0.01" min="0" placeholder="decimal or integer" required value="<%= locals.inv_price %>">
    </label>
    <label class="lbl-properties">Year:
        <input type="number" id="inv_year" name="inv_year" min="1880" max="<%= year %>" placeholder="From 1880 to present" required value="<%= locals.inv_year %>">
    </label>
    <label class="lbl-properties">Miles:
        <input type="number" id="inv_miles" name="inv_miles" min="0" placeholder="digits only" required value="<%= locals.inv_miles %>">
    </label>
    <label class="lbl-properties">Color:
        <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
    </label>

    <div class="form-row">
        <input type="submit" name="submit" id="updateBtn" class="btn-submit" value="Update Vehicle" disabled>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </div>
</form>
<script src="../../js/inv-update.js"></script>